<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>639365272173-7mnainp1bjn11paa2thtifk918b55r37.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.639365272173-7mnainp1bjn11paa2thtifk918b55r37</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>639365272173-oiu2disbk71u702viusvvsb6o21svs1a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAl5JfjpFCkB1_wnA-A79AVsocQtVULRfg</string>
	<key>GCM_SENDER_ID</key>
	<string>639365272173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newsapp</string>
	<key>PROJECT_ID</key>
	<string>emailpasswordauth-f9bfd</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpasswordauth-f9bfd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:639365272173:ios:67385a5315c1abfddba564</string>
</dict>
</plist>